<div class="background"></div>
<div class="card login">
    <form class="form">
        <div class="login-logo"><img src="/images/logo.png" width="48px"></img></div>
        <fieldset>
            <label for="username" class="form-label">Email</label>
            <input id="username" name="username" type="text" autocapitalize="off" autocorrect="off" class="form-text" />
            
            <label for="password" class="form-label">Password</label>
            <input id="password" name="password" type="password" class="form-text" />
            
            <!--
            <p class="form-note">
                <a title="Show password" href="javascript:void(0);" class="form-show_password">Show password</a>
            </p>
            -->
            
            <input type="submit" value="Login" class="form-submit" />
			
			<div class="form-link">
				<a title="Register a new account" [routerLink]="['/register']">Don't have an account? Register a new one</a>
			</div>
			
			<div class="form-link">
				<a title="Browse without logging in" href="javascript:void(0);">or browse without an account</a>
			</div>
        </fieldset>
    </form>
</div>