<div class="card">
	<form class="form">
		<fieldset>
			
			<label for="username">Username or email address</label>
			<input id="username" name="username" type="text" autocapitalize="off" autocorrect="off" />
			
			<label for="password">Password</label>
			<input id="password" name="password" type="password" />
			
			<p class="form-note">
				<a title="Show password" href="javascript:void(0);" class="form-show_password">Show password</a>
			</p>
			
			<input type="submit" value="Sign in" />
		</fieldset>
	</form>
</div>